.navbar {
  margin-left: -15px;
  margin-right: -15px;
}

body {
  background-image: url(./images/starryskieswallpapercollection14.jpg);
}

.lottery-form-container {
  margin-top: 6%;
}

.panel-heading {
  text-align: center;
}

.panel { word-wrap: break-word; }

.enter-btn { margin-top: 4px; }
